body {
	font-family: 'Arial', sans-serif;
}

.contact {
	margin: 10px;
	border: 1px solid #ddd;
	line-height: 15px;
	padding: 10px;
}
.contact h2, p {
	margin: 0;
}

.contact-list {
	margin: 20px;
	padding: 10px;
}
.search {
	margin: 15px;
	padding: 5px;
}

.create-contact {
	margin: 20px;
}
.create-contact label {
	font-weight: 600;
}
.create-contact input {
	margin: 5px;
	padding: 5px;
}
button {
	background-color: #00a651;
	color: #fff;
	cursor: pointer;
	padding: 5px;
	border: none;
	border-radius: 4px;
	margin: 5px;
}

.edit-contact input {
	margin: 5px;
	padding: 5px;
}
.edit-contact button {
	background-color: blue;
}

.save {
	background-color: blue;
}
.cancel, .delete {
	background-color: red;
}

